#equivalent{
		overflow: auto;
		overflow-x: hidden;
		text-align: justify;
		display: block;
}


#equivalent.loading{
		background:url("../img/loader.gif") no-repeat center center;
		height:100%;
		width:100%;
}

#equivalent_test{
		overflow: auto;
		overflow-x: hidden;
		text-align: justify;
		display: block;
}

#equivalent div {}

#equivalent div img{
	margin: 5px;
	box-shadow:2px 2px 2px #666;
	-moz-box-shadow: 2px 2px 2px #666;
	-webkit-box-shadow: 2px 2px 2px #666;
}

#equivalent div img.remove{
	opacity: 0.5;
	background:url("../img/images.jpeg") no-repeat center center;
}

div.equival{
	margin: 10px;
	border-left: 10px solid rgb(29, 45, 68);
	height:auto;
	width:auto;
}

div.equival_value{
	width:100%;
	text-align:center;
	font: bold 25px "Helvetica Neue",Helvetica,Arial,sans-serif
}
