#equivalent{
		overflow: auto;
		overflow-x: hidden;
		text-align: justify;
		display: block;
}

#equivalent div {}

#equivalent div img{
margin: 5px;
	box-shadow:2px 2px 2px #666;
	-moz-box-shadow: 2px 2px 2px #666;
	-webkit-box-shadow: 2px 2px 2px #666;
}

div.equival{
	border-left: 10px solid rgb(29, 45, 68);
	display: inline;
	height:auto;
	width:auto;
}
