#photoview{
	margin-top: 2.8em;
	overflow: visible; 
	height:100%;
	width:100%;
	position: fixed ;
	background-color:#f5f5f5;
	display: block;
}

#photoview_load{
	margin-top: 2.8em;
	overflow: visible; 
	height:100%;
	width:100%;
	position: fixed ;
	background-color:black;
}
#tool_left{
	float:left;
	width:70%;
}



div.tool_title{
	background-color: gray;
}


#tool_taggs{
	display:block;
	min-height:100px;
	height:20%;
	min-width:  70%;
}

#taggs{
	float: left;
	width:100%;
}

#taggs div.tag{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow:2px 2px 2px #666;
	-moz-box-shadow: 2px 2px 2px #666;
	-webkit-box-shadow: 2px 2px 2px #666;
}

#taggs div.tag img {
	 opacity: 0.5;
}

#taggs div.tag img:HOVER{
	 opacity: 1;
}

#tool_taggs textarea{
	min-height: 100px;
height: ;
min-width: 70%;
}

div#photo{
	position:relative;
	text-align:center;
	vertical-align:text-bottom;
	height:80%;
	width:auto;
}

div.loading{
		background: url("../img/loader.gif") no-repeat center center;
}



#photo img{
	margin-left: auto;
    margin-right: auto;
	position:relative;
	max-width: 99%;
	max-height:100%;
	cursor:crosshair
}






div.tool_title{
	-moz-border-radius: 1em 0em 1em 4em;
	border-radius: 1em 4em 0em 4em;
	height:16px;
	background-color:  rgb(238, 238, 238);
	border-bottom: 1px solid rgb(212, 212, 212);
}

div.tool_title:HOVER{
	background-color:  rgb(219, 219, 219)
}


div.tool_title h1{
	float: left;
	font:100 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 16px;
}

#tool_righte{
	float:left;
	margin: 1px;
	width: 25%;
	/*background-color: rgb(238, 238, 238);*/
}

#tool_righte div.tool{
	padding:2px;
	margin: 10px;
	border-radius: 7px;
	min-height:16px;
	background-color: gray;
}


#tool_righte  div.tool_items{
	scrollbar-arrow-color: #949494;
	scrollbar-track-color: #949494;
	scrollbar-face-color: #474747;
	scrollbar-highlight-color: #949494;
	scrollbar-3dlight-color: #949494;
	scrollbar-shadow-color: #949494;
	scrollbar-darkshadow-color: #949494;
	overflow-y:auto;
	max-height:200px;
	background-color: gray;
	/*display: inline;*/
}

#tool_righte  div.tool_items.fix{
	overflow:hidden;
	max-height:200px;
	background-color: gray;
	/*display: inline;*/
}

