#photoview{
	margin-top: 2.8em;
	overflow: visible; 
	height:100%;
	width:100%;
	position: fixed ;
		background-color:#f5f5f5;
}

#photoview_load{
	margin-top: 2.8em;
	overflow: visible; 
	height:100%;
	width:100%;
	position: fixed ;
		background-color:black;
}
#tool_left{
	position: fixed;
	float:left;
	width:70%;
	height:100%;
	
}

#tool_righte{
	padding-top:5px;
	padding-left:1px;
	box-shadow: 3px 0px 7px rgb(0, 0, 0);
	float:right;
	height:100%;
	width:30%;
	background-color: rgb(238, 238, 238);
	
}

div.tool_title{
	background-color: gray;
}

#photo{
	position:relative;
	text-align:center;
	vertical-align:text-bottom;
	height:80%;
	width:auto;
}



#tool_taggs{
	display:block;
	min-height:100px;
	height:20%;
	min-width:  70%;
}

#taggs{
	float: left;
	width:100%;
}

#taggs div.tag{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
		box-shadow:2px 2px 2px #666;
	-moz-box-shadow: 2px 2px 2px #666;
	-webkit-box-shadow: 2px 2px 2px #666;
}

#taggs div.tag img {
	 opacity: 0.5;
}

#taggs div.tag img:HOVER{
	 opacity: 1;
}

#tool_taggs textarea{
	min-height: 100px;
height: ;
min-width: 70%;
}

#photo img{
	position:relative;
	max-width: 99%;
	max-height:100%;
	cursor:crosshair
}


#photo div{
	position:relative;
	max-width: 99%;
	max-height:100%;
	cursor:move;
}

#photo .draggable{
	height: 100px;
	width: 100px;
	opacity: 1;
	border: solid 2px #778899;
}

#photo .draggable:HOVER{
	height: 100px;
	width: 100px;
	opacity: 1;
	border: solid 2px red;
}

#photo .draggable_fix{
	height: 100px;
	width: 100px;
	opacity: 0.1;
	border: dotted 2px red;
}

#photo .draggable_fix:HOVER{
	opacity: 1;
	border: dotted 2px red;
}

#photo .draggable input{
	position:relative;
	left:-25px;
	top:100px;
	opacity: 0.8;
}


#photo .draggable_tag{
	cursor: pointer;
	background:white;
	position:relative;
	top:78px;
	opacity: 1.0;
}

#photo .draggable_tag img{
	cursor: pointer;
}

div.tool_title{
	height:16px;
	background-color:  rgb(238, 238, 238);
	border-bottom: 1px solid rgb(212, 212, 212);
}

div.tool_title:HOVER{
	background-color:  rgb(219, 219, 219)
}


div.tool_title h1{
	float: left;
	font:100 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 16px;
}
div.tool_ico{
		float: left;
	    background-image: url("/owncloud/core/img/actions/settings.png");
	    height: 16px;
		width: 16px;
}

#tool_righte div.tool{
	min-height:16px;
	width:100%;
	background-color: gray;
}


#tool_righte  div.tool_items{
 	padding-left:5px;
	width:100%;
	overflow:auto;
	max-height:200px;
	background-color: gray;
	/*display: inline;*/
}

