#photoview{
	margin-top: 2.8em;
	overflow: visible; 
	height:100%;
	width:100%;
	position: fixed ;
	background-color:#f5f5f5;
	display: block;
}

#photoview_load{
	margin-top: 2.8em;
	overflow: visible; 
	height:100%;
	width:100%;
	position: fixed ;
	background-color:black;
}
#tool_left{
	position:absolute;
	width: 65%;
	height: 90%;
	top: 0em;
	left: 0em;
	bottom: 0px;
}



div.tool_title{
	background-color: gray;
}

div.tool_title i{
	float: right;
}



#photo{
	height:100%;
	margin-right:auto;
	margin-left: auto;
}

div.loading{
		background: url("../img/loader.gif") no-repeat center center;
}



#photo img{
	margin:10px;
	max-width: 95%;
	max-height:90%;
	margin-right:auto;
	margin-left: auto;
}






div.tool_title{
	height:16px;
	background: url("../img/noise.png?2013-03-11T17:46:40Z") repeat scroll 0 0 #1D2D44;
}

div.tool_title:HOVER{
	background: url("../img/noise.png") repeat scroll 0 0 #2f496e;
}


div.tool_title h1{
	float: left;
	font:100 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 16px;
}

#tool_righte{
	overflow-x:scroll;
	position:absolute;
	width: 30%;
	top: 0em;
	right: 5em;
	bottom: 0px;
	/*background-color: rgb(238, 238, 238);*/
}

#tool_righte div.tool{
	color:white;
	padding:2px;
	margin: 10px;
	min-height:16px;
	background:url("/owncloud/core/css/../img/noise.png") repeat scroll 0% 0% rgb(56, 60, 67);
	border-right: 1px solid rgb(51, 51, 51);
	box-shadow: 0px 0px 7px rgb(0, 0, 0);
}


#tool_righte div.tool_items{
	scrollbar-arrow-color: #949494;
	scrollbar-track-color: #949494;
	scrollbar-face-color: #474747;
	scrollbar-highlight-color: #949494;
	scrollbar-3dlight-color: #949494;
	scrollbar-shadow-color: #949494;
	scrollbar-darkshadow-color: #949494;
	overflow:auto;
	max-height:200px;
	
	/*background:url("/owncloud/core/css/../img/noise.png") repeat scroll 0% 0% rgb(56, 60, 67);*/
	margin-left: 20px;
	/*display: inline;*/
}

#tool_righte  div.tool_items.laod{
	height:100px;
	background: url("../img/loader.gif") no-repeat center center;
}

#tool_righte  div.tool_items.fix{
	overflow:hidden;
	max-height:200px;
	/*display: inline;*/
}

