  <div class="month">
      <div clss="head_line">
	  <h1>April</h1>
	  <div  class="ico"></div>
      </div>
      <div class="day">
	<h1>10</h1>
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
      </div>
      <div class="day">
	<h1>11</h1>
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
      </div>
      <div class="day">
      <h1>12</h1>
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
	<img src="/owncloud/?app=gallery&amp;getfile=ajax%2Fthumbnail.php&amp;filepath=%2FDSC_0135.JPG"  alt="Tanzb&auml;r">
    </div>
  </div>
  <div class="month">


#new_1 div.month div.head_line{
  height:35px;
  -moz-transition-duration: 0.2s;
    -o-transition-duration:0.2s; 
    -webkit-transition-duration: .2s;
    opacity: 0.5;
}


#new_1 div.month div.head_line:hover{
    -moz-transition-duration: 0.2s;
    -o-transition-duration:0.2s; 
    -webkit-transition-duration: .2s;
    opacity: 1;
}

#new_1 div.month div.head_line h1{
  float: left;
  font:100 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; 
}

#new_1 div.month div.head_line div.ico{
   float: left;
    width: 30px;
    height: 30px;
    background-image: url("/owncloud/apps/files_imageviewer/img/fancybox.png");
    background-position: -40px -60px;
}